{% extends "base.html" %}

{% block css %}
  {{ block.super }}
{% endblock %}

{% block javascript %}
  {{ block.super }}
{% endblock %}

{% block title %}Compilation details on demand{% endblock %}

{% block content %}
    <h2>{{ compilation.name }}</h2>
    <img src="{{ thumbnail_url }}" />
    <div>
        <span class="font-weight-bold">Thumbnail filename:</span>
        {{ compilation.thumbnail_filename }}
        <br>
        <span class="font-weight-bold">Creation date:</span>
        {{ compilation.creation_date }}
        <br>
        <span class="font-weight-bold">Cmd filename:</span>
        {{ compilation.cmd_filename }}
        <br>
        <span class="font-weight-bold">Missions making up this Compilation:</span>
        <br>
        {% for mission in compilation.missions.all|dictsort:"name" %}
          &nbsp;<a href="{% url 'mission-detail' mission.slug %}">{{ mission.name }}</a>
          <br>
        {% endfor %}
    </div>
{% endblock %}