{% extends "base.html" %}
{% load django_tables2 %}
{% load static %}

{% block css %}
  {{ block.super }}
{% endblock %}

{% block javascript %}
  {{ block.super }}
{% endblock %}

{% block title %}Expedition {{ expedition.name }}{% endblock %}

{% block content %}
  <tab>
    <div class="row" id="expedition_detail_row">
      <div class="col-md" id="expedition_detail_col">
        <h2>{{ expedition.name }}</h2>
          <h2>Missions:</h2>
        <div>
        {% render_table table %}
        </div>
      </div>
    </div>
  </tab>
{% endblock %}