{% extends "base.html" %}

{% block content %}
    <h2>Missions</h2>
    <div class="container-fluid">
        {% for mission in mission_list %}
        <div class="row">
            <div class="col-2">
                <a href="{% url 'mission-detail' mission.slug %}">{{ mission.name }}</a>
            </div>
            <div class="col-10">
                {% if mission.expedition %}
                <a href="/expeditions/{{ mission.expedition.slug }}">{{ mission.expedition.name }}</a>
                {% else %}
                <a href="{% url 'expedition-detail' mission.expedition.slug %}">{{ mission.expedition.name }}</a>
                {% endif %}

            </div>
        </div>
        {% endfor %}
{% endblock %}

