{% extends "base.html" %}

{% block css %}
  {{ block.super }}
{% endblock %}

{% block javascript %}
  {{ block.super }}
{% endblock %}

{% block title %}Mission details on demand{% endblock %}

{% block content %}
    <h2>{{ mission.name }}</h2>
    <img src="{{ thumbnail_url }}" />
    <div>
      <span class="font-weight-bold">Expedition:</span>
      {% if mission.expedition.slug %}
      <a href="{% url 'expedition-detail' mission.expedition.slug %}">{{ mission.expedition.name }}</a>
      {% else %}
      <em>Expedition name not assigned during load</em>
      {% endif %}
    </div>
    <div>
      <p>
        <span class="font-weight-bold">Track length:</span>
        {{ mission.track_length }} km
      </p>
      <p class="font-weight-bold">Note:</p>
      <pre>{{ mission.notes_text }}</pre>
    </div>
{% endblock %}