{% extends "base.html" %}
{% load django_tables2 %}
{% load static %}

{% block css %}
{{ block.super }}
{% endblock %}

{% block javascript %}
{{ block.super }}
{% endblock %}

{% block title %}Mission {{ mission.name }}{% endblock %}

{% block content %}

<!-- A Bootstrap two column presentation-->
  <div class="row">
    <div class="col">
      <h2>Mission {{ mission.name }}</h2>
      <a href="{{ thumbnail_fullrez_url }}"><img src="{{ thumbnail_url }}" /></a>
      <div>
        <span class="font-weight-bold">Full resolution image:</span>
        <a href="{{ thumbnail_fullrez_url }}">{{ thumbnail_fullrez_url }}</a>
      </div>
      <div>
        <span class=" font-weight-bold">Expedition:</span>
        {% if mission.expedition.slug %}
        <a href="{% url 'expedition-detail' mission.expedition.slug %}">{{ mission.expedition.name }}</a>
        {% else %}
        <em>Expedition name not assigned during load</em>
        {% endif %}
      </div>
      <div>
        <span class="font-weight-bold">Track length:</span>
        {{ mission.track_length|default_if_none:"" }} km
      </div>
      <div>
        <span class="font-weight-bold">Route file:</span>
        {{ mission.route_file|default_if_none:"" }}
      </div>
      <div>
        <span class="font-weight-bold">Region name:</span>
        {{ mission.region_name|default_if_none:"" }}
      </div>
      <div>
        <span class="font-weight-bold">Quality categories:</span>
        {% for qc in mission.quality_categories.all %}
          {{ qc.name }},
        {% endfor %}  
      </div>
      <div>
        <span class="font-weight-bold">Patch test:</span>
        {{ mission.patch_test|default_if_none:"" }}
      </div>
      <div>
        <span class="font-weight-bold">Repeat survey:</span>
        {{ mission.repeat_survey|default_if_none:"" }}
      </div>
    </div>

    <div class="col">
      <h2>Used in Compilations:</h2>
      <div>
          {% render_table table %}
      </div>
    </div>
  </div>
  <br><br>
  <div class="row">
    <h3>Notes:</h3>
    <pre>{{ mission.notes_text }}</pre>
  </div>
{% endblock %}