{% extends "base.html" %}

{% block content %}
    <h2>Missions</h2>
    <div class="container-fluid">
        {% for mission in mission_list|dictsort:"name" %}
        <div class="row">
            <div class="col-6">
                <a href="{% url 'mission-detail' mission.slug %}">{{ mission.name }}</a>
            </div>
            <div class="col-6">
                {% if mission.expedition.slug %}
                <a href="{% url 'expedition-detail' mission.expedition.slug %}">{{ mission.expedition.name }}</a>
                {% else %}
                Expedition name not assigned during load
                {% endif %}
            </div>
        </div>
        {% endfor %}
{% endblock %}

