{% extends "base.html" %}{% load static bleach_tags timetags %}
<!-- About SMDB -->
<!-- https://docs.djangoproject.com/en/3.2/ref/templates/language/ -->
{% block css %} {{ block.super }}
{% load static %} <!--Prepare django to load static files -->
{% endblock %}

{% block title %}About SMDB{% endblock %}

{% block content %}
<div>
    <h1>
        <img src={% static "images/SMDB_logo.jpg" %}>
        <br>
  
        Seafloor Mapping Database
        </h1>
    
    <h2>About the database
        </h2>

        <p>
        The MBARI Seafloor Mapping Database (SMDB) provides access to  
        <a href="https://www.mbari.org/at-sea/vehicles/autonomous-underwater-vehicles/seafloor-mapping-auv/" 
            target="_blank">Mapping AUV</a> 
            and <a href="https://www.mbari.org/technology/ocean-imaging/" target="_blank">
            Low-Altitude Survey System </a> 
            (LASS) data collected by MBARI and our collaborators. It is currently in the beginning stage of development. 
            If you have suggestions for the SMDB, please contact one of the developers.</p>
       
     <strong>
        Developers 
            </strong>
            <p>
                <a href="https://www.mbari.org/mccann-mike/" target="_blank">Mike McCann</a>, 
                <a href="https://www.mbari.org/salamy-karen-a/" target="_blank">Karen Salamy</a>, 
                <a href="https://www.mbari.org/paduan-jennifer" target="_blank">Jennifer Paduan</a>, 
                <a href="https://www.mbari.org/caress-dave/" target="_blank">David Caress</a>
          </p>

     <strong>
         Motivation
        </strong>

        <p>The quickly growing number of AUV and LASS surveys need to become more discoverable and accessible, 
        and their interconnectedness and repeat mapping require a new level of documentation and organizational discipline. 
        This all can be done without changing the current file-based structure on the SeafloorMapping share 
        by capturing metadata such as geographic location and server storage paths in a database and presenting 
        it through a queryable web interface. </p>

        <p>As our data volume grows, this need is becoming critical even for experienced users. It will be useful 
        for users less familiar with the surveys or MB-System to access the current data products without 
        digging around on the server. It is necessary for making sense of the data archive in perpetuity, 
        and is advisable in the spirit of FAIR data principles (findable, accessible, interoperable, reusable). </p>

        <p>This is not intended to change the structure or processing of the sensor data. Those will 
        remain as files on the SeafloorMapping share. Because tha share is web-accessible, 
        metadata and data products can be mined for populating the database and viewed through the query interface.</p>

        <p>The quality  of particular survey data influences the prioritization - or even inclusion - for 
        working with it and make data products. Currently this is tracked by users in their own spreadsheets 
        and datalists. It needs to become an assessment that is accessible and clearly presented. 
        Likewise, whether a survey is repeated over a previously mapped area also needs to be tracked.</p>
        
<strong>Functional requirements
    </strong>
<ul>
    <li>Relational database with geographic capability (we have decided to use PostgreSQL with PostGIS 
        extension). </li>
    <li>Web-based query, appearing like STOQS (campaign list) or the samplesDB (multiple queryable items), from 
        Canyon Head. The language is Django with PostgreSQL.</li>
    <li>Interface for populating the database needs to be useable by knowledgeable AUV data processing 
        staff on Mac computers, and not expensive (argument for using PostgreSQL). </li>
    <li>Maintained and backed up by MBARI IS.</li>
</ul>

    <strong>Affiliated MBARI projects 
        </strong>

    <p><a href="https://www.mbari.org/technology/seafloor-mapping/" target="_blank">Seafloor Mapping Lab</a> <br>
    <a href="https://www.mbari.org/technology/ocean-imaging/" target="_blank">Ocean Imaging Project</a> <br>
    <a href="https://www.mbari.org/science/seafloor-processes/geological-changes/" target="_blank">Geological Changes Group</a> <br>
    <a href="https://www.mbari.org/science/seafloor-processes/volcanoes/" target="_blank">Submarine Volcanism Project</a> <br>
    </p>

</div>

{% endblock %}