{% extends "base.html" %}
{% load static bleach_tags timetags %}

<!-- Overview first - display a map of all nav_tracks -->
<!-- https://www.paulox.net/2020/12/08/maps-with-django-part-1-geodjango-spatialite-and-leaflet/ -->
<!-- https://docs.djangoproject.com/en/3.2/ref/templates/language/ -->

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'css/map.css' %}">
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" type="text/css">
{% endblock %}

{% block javascript %}
  {{ block.super }}
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.2/jquery.ui.touch-punch.min.js"></script>
  <script src="{% static 'js/SliderControl.js' %}"></script>
{% endblock %}

{% block title %}Overview first{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row" id="filter-row">
    <div class="col-3">
      <span id="num-missions">{{ num_missions }}</span> Missions
      <span id="search-string">{{ search_string|bleach }}</span>
    </div>
    <div class="col-6" id="filter-center">
    </div>
    <div class="col-3">
      <div class="float-right">
        <input type="hidden" name="xmin" value="" id="xmin">
        <input type="hidden" name="xmax" value="" id="xmax">
        <input type="hidden" name="ymin" value="" id="ymin">
        <input type="hidden" name="ymax" value="" id="ymax">
        <input type="hidden" name="tmin" value="" id="tmin">
        <input type="hidden" name="tmax" value="" id="tmax">
        <label for="searchbar"><img src="/static/admin/img/search.svg" alt="Search"></label>
        <input title="Search for Notes text or Mission name" type="text" size="20" name="q" value="" id="searchbar" onkeypress="if(event.key == 'Enter') {updateMap();}">
        <a href="javascript: updateMap()">Update</a>
      </div>
    </div>
  </div>
</div>
  {{ missions|json_script:"missions-data" }}
  {{ MEDIA_URL|json_script:"MEDIA-URL" }}
  <div id="map">
  </div>
  <script src="{% static 'js/map.js' %}"></script>
{% endblock %}