#filters {
  margin-left: 0;
  margin-right: 0;
  position: absolute;
  top: 85px;  
  left:0;
  height: 70px;
  width: 100%;
  z-index: 600; 
}
#filter-left {
  flex-direction: row;
  background-color: white;
  float: left;
  width: 450px;
  height: 75px;
  padding-top: 6px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 25px;
  white-space: nowrap;
  border-style: hidden;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  left: 0;
  margin-left: 0
}
#filter-center {
  flex-direction: row;
  left: 0;
  right: 0;
  width: 50%;
  margin: 0px;
  background-color: white;
  align-content: top;
  float: center;
  width: auto;
  height: auto;
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-style: hidden;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#filter-right {
  width: 450px;
  height: 75px;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  border-style: hidden;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#searchBarForm {
  padding-top: 10px;
  width: 100%;
}
#searchbar {
  padding-right: 3%;
  margin-left: 3em;
  text-align: left;
  position:relative;
}
#searchbtn {
  width: calc(100%);
  height: calc(1.5em + .75rem + 2px);
  font-size: 14px !important;
  align-items: center;
  margin-top: 0em !important;
  align-content: center;
}
/* #loadBtn {
padding-left: 20px;
padding-right: 20px;
} */
#loadBtn,
#login_submit_btn {
  padding-left: 20px;
  padding-right: 20px;
}
#alert_styling {
  padding-top: 100px;
  font-size: x-large;
}
#verify_email_h2 {
  margin-top: 100px;
  padding-top: 30px;
}
#verify_email_paragraph {
  margin-left: 0rem;
  margin-top: 10px;
  font-size: large;
}
#email_detail_row {
  position: relative;
  flex-shrink: 2;
  padding-top: 100px;
  padding-bottom: 25px;
}
#email_form_p {
  margin-top: 0px;
  font-size: x-large;
}
#email_radio_div {
  margin-top: 130px;
}
#email_form_h2 {
  position: relative;
  margin-top: 19.5rem;
  margin-left: 0rem;
}
#email_form_add_email {
  flex-shrink: 2;
}
#user_detail_container {
  position: relative;
  margin-left: auto;
  padding-top: 100px;
  padding-left: 0px;
  padding-bottom: 25px;
}
#user_detail_col,
#user_form_horizontal {
  margin-left: 3rem;
  margin-top: 0.5rem;
  width: 25%;
}
#user_btn_info,
#user_btn_email,
#user_form_btn_update,
#email_btn {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 0rem;
  margin-right: 0.5rem;
}
#email_form_p {
  margin-left: 0rem;
  padding-top: 100px;
  padding-left: 0px;
}
#email_verifed {
  color: green;
  font-weight: bold;
}
#email_unverified {
  color: red;
  font-weight: bold;
}
#email_primary {
  color: blue;
  font-weight: bold;
}
#email_form_list {
  margin-left: 0rem;
  /* margin-top:0rem; */
  /* padding-top: -10px; */
  padding-left: 0px;
}
#user_form_h1,
#email_form_h1 {
  position: absolute;
  top: 5.5rem;
  padding-top: 10px;
}
#email_form_h2 {
  margin-left: 0rem;
  margin-bottom: 0rem;
}
form {
    top: 140px;
    position: absolute;
    width: 90%;
    margin-left: 0rem;
    margin-right: 3rem;
}
div.form-group.col-md,
div.col-md {
    margin-bottom: 10px;
    margin-top: 10px;
}
/* Buttons */
div.form-group.col-md-2,
div.col-md-2 {
  width: 30%;
  margin-bottom: 10px;
  margin-top: 10px;
}
div.form-group.col-md-3,
div.col-md-3 {
  width: 30%;
  padding-top:10px;
  /* margin-bottom: 10px;
  margin-top: 10px; */
}
form.leaflet-control-layers-list {
    top: 0px;
    margin-right: 0px;
    width: max-content;
}
form
div.row {
    width: 100%;
    height: 55px;
}
/* #submit_id_submit,  */
.btn, .btn-primary {
    border: 1.75px solid;
    border-color: black;
    font: inherit;
    height: calc(1.5em + .75rem + 2px);
    align-content: center;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: small;
    margin: 0em;
}
div.col-md {
  min-width: max-content;
}
div#tableContainers4.table-container {
  position: absolute;
  top: 700px;
  width: 95%;
}
#div_id_name {
box-sizing: content-box;
}
#slider-row {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.col-2 {
    flex-direction: row;
    padding-left: 0px;
    padding-right: 0px;
}
.col-6 {
    flex-direction: row;
}
.col-8
#slider-current {
    flex-direction: row;
    width: 80%
}
#mission_detail_notes_row, h3 {
  position: relative;
  padding-left: 5px;
  padding-right: 20px;
}
#mission_notes_txt {
  font-size: 1.5rem;
}
#mission_detail_row,
#expedition_detail_row,
#compilation_detail_row {
  width: 100%;
  position: relative;
  padding-top: 100px;
  padding-bottom: 25px;
}
.mb-0 
#missionFilterSubmit,
#missionFilterCancel,
#expeditionFilterSubmit,
#expeditionFilterCancel,
#compilationFilterSubmit,
#compilationFilterCancel {
  margin-bottom: 1rem !important;
  margin-top: 0rem !important;
}
.col-md
#expeditionFilterSubmit,
#expeditionFilterCancel,
#compilationFilterSubmit,
#compilationFilterCancel {
  width: 100px;
  display: flex;
  flex-direction: column !important;
  flex-grow: 1;
  flex-basis: 100%;
  flex: 1;
}
@media (min-width: 625px) {
    .missionRow {
        -ms-flex-direction: row;
        flex-direction: row !important;
        position: absolute;
        align-items:left;
        width: 100%;
        line-height: fit-content;
        z-index: 700;
        display: flex;
        flex-wrap: wrap;
    }
}
/* .missionRow {
  display: grid;
  grid-template-columns: 6fr 3fr;
  overflow: hidden;
  width: 900px;
} */
form#searchBarForm {
    top: 0px;
    position: relative;
    flex-direction: row;
}
form#searchBarForm.d-flex {
    margin-left: 1rem;
    margin-right: 1rem;
}
h2#mission_h2 {
    position: absolute;
    top: 84px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 1.5em;
    height: 50px;
    width: 100%;
    background-color: white;
    margin-left: 0rem;
    margin-bottom: 0rem;
}
h2#expedition_h2 {
    position: absolute;
    top: 84px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 1.5em;
    height: 50px;
    width: 100%;
    background-color: white;
    margin-left: 0rem;
    margin-bottom: 0rem;
}
h2#compilation_h2 {
    position: absolute;
    top: 84px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 1.5em;
    height: 50px;
    width: 100%;
    background-color: white;
    margin-left: 0rem;
    margin-bottom: 0rem;
}