html,
body {
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  margin: 0;
  height: 100vh;
  font-family: "Roboto", sans-serif !important;
  color: #212529;
}

#map {
  width: 100%;
  /* The following line is important for fitting map onto map-pane and zooming out*/
  height: 85% !important;
  top: 165px;
  position: relative;
  /*margin-left: 250px; - Testing with new proSidebar*/
}

.slider {
  width: 100%;
  padding-bottom: 10%;
}

#leaflet-slider {
  color: darkgrey;
}

.sidebar {
  width: 250px;
}

.leaflet-control>.leaflet-sidebar-topleft {
  width: 250px !important;
}
