/*@import "./sidebar.css";*/

html,
body {
  margin: 0;
}

#map {
  width: 100%;
  height: 85%;
  padding-top: 10%;
  /*margin-left: 250px; - Testing with new proSidebar*/
}

.slider {
  width: 100%;
  padding-bottom: 10%;
}

#leaflet-slider {
  color: darkgrey;
}

.sidebar {
  width: 250px;
}

.leaflet-control>.leaflet-sidebar-topleft {
  width: 250px !important;
}