html,
#map_mission_filter {
  width: 100%;
  top: 200px;
}
th,
td {
  padding: 0 15px;
}
.tab div {
  margin-left: 3rem;
  margin-right: 3rem;
}
.label-mission-name {
  font-size: 1.3em;
  text-align: left;
  white-space: nowrap;
  padding-left:20px;
}
.label-mission-name a:link {
  color: black;
}
.label-mission-name a:hover {
  color: yellow;
}
/* .label-mission-name a:visited {
  color: #0078a8;;
} */
.align-items-center {
  -ms-flex-align: center!important;
  align-items: center!important;
  display: flex;
  justify-content: center;
  word-spacing: 2px;
  padding: 3px;
}
